html {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: rgba(58, 64, 85, 1)
}

span {
  font-size: .75rem;
}

.van-nav-bar__arrow,
.van-nav-bar__title {
  font-size: .875rem;
}

.height_auto {
  height: 100%;
}

.flex {
  display: -webkit-flex;
  display: flex;
}

.justify_between {
  justify-content: space-between;
}

.justify_start {
  justify-content: start;
}

.flex_1 {
  flex: 1;
}

.flex_align_center {
  align-items: center;
}

.flex_justify_center {
  justify-content: center;
}

.login_main_body,
.main_body {
  padding: 1rem;
}

.main_body2 {
  padding: 1rem;
}

.header_text {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: bold;
  text-align: left;
  margin-bottom: .625rem;
}

.login_main_body .van-cell {
  padding: .3125rem 0rem;
  line-height: 2rem;
  font-size: .75rem;
}

.login_main_body .password_input,
.login_main_body .name_input {
  border-bottom: 1px solid rgba(238, 238, 238);
  font-size: .75rem;
}

.login_main_body .forget_password_btn {
  padding: .3125rem 0rem;
  line-height: 2rem;
  color: rgba(51, 153, 255, 1);
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login_main_body .forget_password_btn span {
  display: inline-block;
  margin-right: .625rem;
  width: .0625rem;
  height: 1.25rem;
  border-left: 1px solid rgba(216, 216, 216, 1);
}

.login_main_body .login_btn {
  margin-top: 1.25rem;
}

.login_main_body .login_btn .van-button--normal {
  width: 100%;
  padding: 0px;
  height: 2.1875rem;
  line-height: 2.1875rem;
  font-size: .75rem;
  border-radius: .1875rem;
}

.login_main_body .van-button span {
  font-size: .75rem;
}

.other_operation {
  margin-top: .625rem;
  font-size: .75rem;
  justify-content: space-between;
}

.forget_password_btn a {
  color: rgba(51, 153, 255, 1);
}

.justify_left {
  text-align: left;
}

.justify_right {
  text-align: right;
}

.van-nav-bar .van-icon {
  color: rgba(58, 64, 85, 1);
}

.nav_bgm .van-nav-bar {
  background: rgba(42, 118, 255, 1);
}

.nav_bgm .van-nav-bar .van-icon {
  color: #fff;
}

.nav_bgm .van-nav-bar__title {
  color: #fff;
}

.area_option .van-picker-column,
.van-picker__cancel,
.van-picker__confirm {
  font-size: .625rem !important;
}

.info_module .van-uploader__upload,
.info_module .van-uploader {
  width: 100% !important;
}

.van-dialog {
  width: 12.5rem;
  height: 5.6rem;
  border-radius: .25rem;
}

.van-dialog__message,
.van-dialog__confirm .van-button__text,
.van-dialog__cancel .van-button__text {
  font-size: .625rem !important;
}

.van-dialog__message {
  padding: 1rem .625rem;
}

.top_nav_bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.main_body {
  margin-top: 2rem;
}

.approve_content .van-dialog__header {
  height: .5rem;
  line-height: .5rem;
  font-size: 0.75rem;
  text-align: left;
  margin-left: .625rem;
}

.approve_content .refuse_text {
  height: 3.3rem;
  font-size: .625rem;
  border: 1px solid #ccc;
  width: 90%;
  margin: 0 auto;
  border-radius: .25rem;
  margin-top: .625rem;
  padding: .125rem;
}

.refuse_daio .van-dialog {
  width: 12.5rem;
  height: 8rem;
  border-radius: .25rem;
}

.public_btn button {
  width: 100%;
  padding: 0px;
  height: 2.1875rem;
  line-height: 2.1875rem;
  font-size: .75rem;
  border-radius: .1875rem;
  background: #3399FF;
  border: none;
  color: #fff;
  margin-top: .8rem
}

.van-radio__icon .van-icon {
  width: 0.9375rem;
  height: 0.9375rem;
  line-height: 0.9375rem;
  font-size: 0.5em;
}

.public_module {
  box-shadow: 0rem 0rem 0.3125rem #ccc;
  border-radius: 0.1875rem;
  padding: 0rem 0.3rem;
}

.van-dialog__cancel,
.van-dialog__confirm {
  height: 2rem;
  line-height: 2rem;
}

.border_bom {
  border-bottom: 1px solid #eee;
}

.middle_button {
  margin-top: .9375rem;
  justify-content: space-around;
}

.middle_button button {
  width: 46%;
  height: 1.875rem;
  line-height: 1.875rem;
  border-radius: .1875rem;
  font-size: .75rem;
  border: none;
}

.middle_button .middle_button1 {
  background: #b4d8fd;
  color: #3399FF;
}

.middle_button .middle_button2 {
  background: #3399FF;
  color: #fff;
}

.showbank {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}

.more {
  margin-top: .75rem;
  text-align: center;
  font-size: .625rem;
  color: #A8AEC1;
}